{% extends 'base.html.twig' %}

{% block title %}
    
    
{% endblock %}

{% block body %}
  
<div class="container">
<table class="table">
{# <h1>liste classe</h1>  #}
<a name="" id="" class="btn btn-success" href="{{ path('classe_aj') }}" role="button">Ajout Classe</a>
    
            <thead>
            
                <tr>
                    
                    <th>
                        libelle classe
                    </th>
                    <th>
                        niveau
                    </th>
                    <th>
                        filiere
                    </th>
                </tr>
            </thead>
            <tbody>
                
                {%  for  classe in last %}
               
                <tr> 
  
                        <td scope="row">
                            {{ classe.libelleclasse }}{{classe.id}}
                        </td>
                        <td>
                            {{ classe.niveau }}
                        </td>
                        <td>
                            {{ classe.filiere }}
                        </td>
                        <td>
                            <a name="" id="" class="btn btn-danger" href=" {{path ('classe_delete',{"id":classe.id}) }} " role="button">supprimer</a>
                        <a name="" id="" class="btn btn-primary" href="{{path ('classe_modif',{"id":classe.id}) }} " role="button">modifier</a>

                 
                        </td>
                    </tr>
            
              
                {% endfor %}

            </tbody>

        </table>
        <div class="d-flex justify-content-center">
{% do last.setPageRange(10) %}
{{knp_pagination_render(last,'pagination.html.twig')}}



</div>


    </div>
  
{% endblock %}
